---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import ToolTip from "../components/ToolTip.astro";
import { stack, projects } from "../const";
import ProjectItem from "../components/ProjectItem.astro";
import "../styles/main.css";
import type { ProjectInterface } from "../types";
---

<Layout title="Portfolio | Miguel Rubiano">
  <main class="px-4">
    <section class="about py-72 pb-32 flex justify-center" id="about">
      <article
        class="about-description flex flex-col justify-center items-center"
      >
        <div class="flex flex-row gap-5">
          <h1 class="about-title">Hola! Soy Miguel Rubiano</h1>
          <div class="flex justify-center items-center">
            <a
              href="https://www.linkedin.com/in/miguelrubiano343/"
              target="_blank"
              rel="noopener"
              class="flex justify-center items-center hover:scale-105 transition"
              ><Badge>#OpenToWork</Badge></a
            >
          </div>
        </div>
        <p
          class="about-text border border-slate-500 rounded-xl p-5 w-[600px] bg-slate-800/20"
        >
          Ingeniero en Sistemas y Computación con <b
            >1 año de experiencia como desarrollador frontend</b
          >. A lo largo de esta aventura, He <b>colaborado</b> con mis compañeros
          en sus deberes através de distintas areas como backend, diseño, y manejo
          de bases de datos, siempre <b>buscando aprender</b> de esto. Me gusta explorar
          nuevas tecnologías que me permitan construir aplicaciones sostenibles y
          escalables.
        </p>
        <ul class="flex flex-row justify-end gap-8 mt-2">
          <li
            class="stack cursor-pointer"
            style={{ "--background-dif": "#FF9900" }}
            tool-tip
            onclick='window.open("https://github.com/xArkqngel", "_blank")'
          >
            <p class="stack__name">Github</p>
            <ToolTip aria-hidden="true">Github</ToolTip>
            <span class={`icon-Github`}></span>
          </li>
          <li
            class="stack cursor-pointer"
            style={{ "--background-dif": "#007FFF" }}
            tool-tip
            onclick='window.open("https://www.linkedin.com/in/miguelrubiano343/", "_blank")'
          >
            <p class="stack__name">LinkedIn</p>
            <ToolTip aria-hidden="true">LinkedIn</ToolTip>
            <span class={`icon-LinkedIn`}></span>
          </li>
          <li
            class="stack cursor-pointer"
            style={{ "--background-dif": "#FAFAFA" }}
            tool-tip
            onclick='window.open("https://drive.google.com/drive/folders/1JzzENi35yeYgXZqJVq_irkRds1CyDIhY?usp=sharing", "_blank")'
          >
            <p class="stack__name">Curriculum</p>
            <ToolTip aria-hidden="true">Curriculum</ToolTip>
            <span class={`icon-CV`}></span>
          </li>
        </ul>
      </article>
    </section>
    <section
      class="experience flex flex-col items-center pb-32"
      id="experience"
    >
      <h2 class="text-3xl font-bold text-center mb-10">Experiencia</h2>
      <div
        class="text-wrapper w-[800px] border border-slate-500 rounded-xl p-5 bg-slate-800/20"
      >
        <div class="experience-title flex flex-row gap-3 items-center">
          <img src="/sostecnible.svg" alt="Tecsup" class="w-20 h-20" />
          <h3 class="text-xl font-bold">- Frontend Developer</h3>
        </div>
        <p class="mb-2 text-slate-500">Julio 2023 - Enero 2024</p>
        <p>
          Responsable de desarrollar y mantener el front-end de la aplicación
          empresarial utilizando React y NextJS, con un enfoque en la creación
          de una interfaz eficiente y fácil de usar. Desarrollo de componentes
          reutilizables y funcionalidades para soportar una arquitectura de
          aplicación escalable.<br /><br /> • Implementé funciones de internacionalización,
          incluidos diccionarios para distintos idiomas, ampliando el alcance de
          la aplicación a los mercados globales.<br />
          • Desarrollé interfaces para 3 nuevos tipos de usuarios, aumentando la
          accesibilidad y satisfacción en un 20%.<br /> • Integré la visualización
          de diagramas de Gantt mediante Syncfussion, agilizando los procesos de
          gestión y seguimiento de proyectos.
        </p>
      </div>
    </section>
    <section class="projects flex flex-col items-center pb-32" id="projects">
      <h2 class="text-3xl font-bold text-center mb-10">Proyectos</h2>
      {
        projects.map((project: ProjectInterface) => (
          <ProjectItem project={project} />
        ))
      }
    </section>
    <section class="stacks flex flex-col items-center pb-32">
      <h2 class="text-3xl font-bold text-center mb-10">Stack</h2>
      <ul class="flex flex-wrap max-w-[800px]">
        {
          stack.map((stackItem) => (
            <li
              class="stack"
              style={{ "--background-dif": stackItem.color }}
              tool-tip
            >
              <p class="stack__name">{stackItem.name}</p>
              <ToolTip aria-hidden="true">{stackItem.name}</ToolTip>
              <span class={`icon-${stackItem.name}`} />
            </li>
          ))
        }
      </ul>
    </section>
    <section class="contact" id="contact"></section>
  </main>
</Layout>
