<header class="flex justify-center sticky top-0 py-3 w-screen bg-slate-700/20 border-b-slate-200 backdrop-blur-sm">
    <div class="flex justify-between items-center w-[1200px]">
        <img class="w-12 h-12 rounded-full" 
        src="https://avatars.githubusercontent.com/u/67243723?s=400&u=f59d6c6157e8bc60db583965d85eb75cbddfc891&v=4" alt="xArkqngelPP">
        <nav class="flex flex-row gap-x-10">
            <a href="/#contact">About</a>
            <a href="/#experience">Experience</a>
            <a href="/#projects">Projects</a>
            <a href="/#contact">Contact</a>
        </nav>
    </div>
</header>